// Import the global styles to access the global variables
@import '../../GlobalStyles.scss';

// TODO: Factorise and reorganise the selectors using nesting

// Mobile Layout (Default)
.title {
    font-family: $ff-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4.75px;
    color: $clr-white;
    font-size: $fs-750;
}

.subtitle {
    font-family: $ff-sans-cond;
    font-weight: 400;
    color: $clr-light;
    text-align: center;
    letter-spacing: 2.7px;
    font-size: $fs-300;
}

.text {
    font-family: $ff-sans-normal;
    color: $clr-light;
    text-align: center;
    font-size: $fs-200;
    font-weight: 400;
}

.text-container {
    padding: 3rem 1.5rem;
}

// Tablet Display
@media (min-width: 426px) {
    .subtitle {
        font-size: $fs-400;
    }

    .title {
        // TODO: Look at why SPACE is offset slight right
        font-size: $fs-900;
    }

    .text {
        font-size: $fs-300;
    }

    .text-container {
        width: 450px;
        margin: 0 auto;
        padding: 6rem 0rem;
    }
}

// Desktop Display
@media (min-width: 1024px) {
    .subtitle {
        font-size: $fs-500;
        letter-spacing: 0.3rem;
    }

    .title {
        font-size: $fs-900;
        text-align: left;
        letter-spacing: 1.5rem;
    }

    .text {
        font-size: $fs-400;
        text-align: left;
    }

    .text-container {
        width: 35rem;
        margin: 1rem 1rem;
        padding: 0;
    }
}