@import '../../GlobalStyles.scss';

.destination {
    background-size: cover;
    background-position: bottom center;
    flex-shrink: 0;
    height: 100%;
    background-image: url(../assets/destination/background-destination-mobile.jpg);

    // Tablet
    @media (min-width: 426px) {
        background-position: center center;
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }

    // Desktop
    @media (min-width: 1024px) {
        background-image: url(../assets/destination/background-destination-desktop.jpg);
    }
}