@import '../../GlobalStyles.scss';

.home {
    background-size: cover;
    background-position: bottom center;
    background-image: url(../assets/home/background-home-mobile.jpg);
    flex-shrink: 0;
    height: 100%;

    // Tablet
    @media (min-width: 426px) {
        background-position: center center;        
        background-image: url(../assets/home/background-home-tablet.jpg);
    }

    // Desktop
    @media (min-width: 1024px) {
        background-image: url(../assets/home/background-home-desktop.jpg);
    }
}

.horizontal-display {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 382px;
    align-items: center;
    justify-content: space-around;
    margin-top: 15rem;
}