@import url('../../GlobalStyles.scss');

.home {
    background-size: cover;
    background-position: bottom center;
    background-image: url(../assets/home/background-home-mobile.jpg);
    flex-shrink: 0;
    height: 100%;

    // Tablet
    @media (min-width: 425px) {
        background-position: center center;        
        background-image: url(../assets/home/background-home-tablet.jpg);
    }

    // Desktop
    @media (min-width: 1024px) {
        background-image: url(../assets/home/background-home-desktop.jpg);
    }
}